name: Build Android APK

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest
    env:
      KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Decode keystore
        run: |
          echo "$KEYSTORE_BASE64" | base64 --decode > ./hifdh-release.keystore
          chmod 600 ./hifdh-release.keystore

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Extract Version
        id: extract_version
        run: |
          VERSION=$(grep 'version: ' pubspec.yaml | sed 's/version: //')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build APK (armeabi-v7a)
        run: |
          flutter build apk --release --target-platform android-arm \
          --build-name=$(echo $VERSION | cut -d '+' -f1) \
          --build-number=$(echo $VERSION | cut -d '+' -f2)

      - name: Rename APK
        run: |
          cd build/app/outputs/flutter-apk/
          mv app-armeabi-v7a-release.apk ../../../../HifdhTracker_${{ env.VERSION }}_armeabi-v7a.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HifdhTracker-armeabi-v7a
          path: HifdhTracker_${{ env.VERSION }}_armeabi-v7a.apk
